<h2>Reactive Forms <small>Dinamics</small></h2>
<hr />

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="save()">
  <!-- name -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="Name"
        formControlName="name"
        type="text"
      />

      <span class="form-text text-danger" *ngIf="fieldIsValid('name')">
        Must have at least three letters
      </span>
    </div>
  </div>

  <!-- Add new Game -->

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Add</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Add new favorite"
          [formControl]="newFavorite"
          (keyup.enter)="addFavorite()"
        />
        <button
          class="btn btn-outline-warning"
          type="button"
          (click)="addFavorite()"
        >
          Add
        </button>
      </div>
    </div>
  </div>

  <!-- List Favourite Games -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Favorites</label>

    <div class="col-sm-9" formArrayName="favorites">
      <div
        class="input-group mb-1"
        *ngFor="let favorite of favoritesArr.controls; let i = index"
      >
        <input class="form-control" [formControlName]="i" />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="delete(i)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary float-end">Save</button>
    </div>
  </div>
</form>

<span>Valid</span>
<pre>{{ myForm.valid }}</pre>
<br />

<span>Value</span>
<pre>{{ myForm.value | json }}</pre>
<br />

<span>Agregar Juego</span>
<pre>{{ newFavorite.valid }}</pre>
<pre>{{ newFavorite.value }}</pre>
