<div class="animate__animated animate__fadeIn animate__faster">
  <h3>
    Search Region. <small>{{ activeRegion | titlecase }}</small>
  </h3>
  <hr />
  <h5>Select Region</h5>

  <div class="row">
    <div class="col">
      <!-- [class.btn-primary]="region === activeRegion" -->
      <!-- [ngClass]="{'btn-primary': region === activeRegion}" -->
      <button [class]="getClassCss(region)" class="mr-1" *ngFor="let region of regions"
        (click)="activateRegion(region)">
        {{ region | titlecase }}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-table-country [items]="countries"></app-table-country>
    </div>
  </div>
</div>